# EditorConfig is awesome: http://EditorConfig.org

# This file was created by command
# npm install dot-editorconfig --save-dev

# top-most EditorConfig file
root = true

[*{.jade,.js,.json,.html,.yaml,.yml,rc}]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*{.conf,.pl,.pm,.py}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*{.glsl,.go,.sh,.sql}]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true

[Makefile]
indent_style = tab
trim_trailing_whitespace = true

